<div>
	<% if flash[:errors] %>
	<ul>
	<% flash[:errors].each do |error| %>
	<li>
	<%= error %>
	</li>
	<% end %>
	</ul>
	<% end %>
</div>

<form action="<%= user_url %>" method="post">
	<input
	  type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	
	<label for="username">Username</label>
	<input id="username" type="text" name="user[name]">
	
	<label for="password">Password</label>
	<input id="password" type="password" name="user[password]">
	
	<input type="submit" value="submit">
</form>