<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar-wrapper">
            <div class="sidebar">

                <nav class="navbar navbar-inverse row" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            News Tips
                        </a>
                    </div>
                </nav>

                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#">All Tips</a></li>
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-8 col-md-9 content-wrapper">
            <div class="content">
                <div class="row content-header">
                    <div class="col-xs-8">
                        <h1 class="page-header">Dashboard</h1>
                    </div>

                    <div class="col-xs-4 header-search-wrapper">
                        <div class="header-search">
                            search form
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <h2 class="sub-header">Tip Feed</h2>

                <div class="row">
                    <div class="col-xs-8">

                    </div>
                </div>

                <div class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="page">
	hello
</div>

<script type="text/javascript">
$(document).ready(function(){
	$root = $('.table-responsive');
  Newstips.initialize($root);
});
</script>
