<div id="newstips-wrapper" class="container">
	<div id="header" class="jumbotron text-center">
		<h1 class="newstips-head">Newstips</h1>
		<h2 class="tips-subhead">Crowdsourcing tips for journalists</h2>
	</div>

	<div id="tips">
		<h2 class="got-tips">Got a tip?</h2>
		<form class="form-horizontal" role="form">
			<div class="col-xs-6">
				<div class="form-group">
					<textarea placeholder="Enter your tip here." class="form-control" rows="5" id="comment"></textarea>
				</div>
			</div>

			<div class="col-xs-6">
				<div class="form-group">
				    <label class="control-label col-sm-2" for="inputName">Name</label>
				    <div class="col-sm-10">
				    	<input type="name" class="form-control" id="inputName" placeholder="Enter name">
				    </div>
				</div>

			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="exampleInputEmail">Email</label>
			    	<div class="col-sm-10">
			    		<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
			    	</div>
			  	</div>

			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="phoneInput">Phone</label>
			    	<div class="col-sm-10">
			    		<input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd" placeholder="Enter phone number: (555) 555-5555">
			    	</div>
			  	</div>

			  	<div class="form-group">
				  	<label class="control-label col-sm-2" for="subjectInput">Subject</label>
				  	<div class="col-sm-10">
				  		<select class="col-sm-10 form-control">

						    <option value="World">World</option>
							<option value="U.S.">U.S.</option>
							<option value="Politics">Politics</option>
							<option value="New York">New York</option>
							<option value="Business">Business</option>
							<option value="Technology">Technology</option>
							<option value="Science">Science</option>
							<option value="Health">Health</option>
							<option value="Sports">Sports</option>
							<option value="Education">Education</option>
							<option value="Obituaries">Obituaries</option>
							<option value="Television">Television</option>
							<option value="Theater">Theater</option>
							<option value="Video Games">Video Games</option>
							<option value="Video: Arts">Video: Arts</option>
							<option value="Education">Education</option>
							<option value="Fashion & Style">Fashion & Style</option>
							<option value="Health">Health</option>
							<option value="Home & Garden">Home & Garden</option>
							<option value="Jobs">Jobs</option>
							<option value="Magazine">Magazine</option>
							<option value="N.Y.C. Events Guide">N.Y.C. Events Guide</option>
							<option value="Real Estate">Real Estate</option>
							<option value="T Magazine">T Magazine</option>
							<option value="Travel">Travel</option>
						</select>
					</div>
				</div>

			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="locationInput">Location</label>
			    	<div class="col-sm-10">
			    		<input type="location" class="form-control" id="locationInput" placeholder="Enter your location (address)">
			    	</div>
			  	</div>
			</div>
			<div class="col-xs-6">
		  		<button type="submit" class="btn btn-default">Submit</button>
		 	</div>
		</form>
	</div>

	<div id="newstips-faq-about" class="col-xs-12 text-center">
		<div id="about" class="col-xs-6">
			<h3>About</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
		</div>
		<div id="faq" class="col-xs-6">
			<h3>FAQ</h3>
			<p>amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
		</div>
	</div>
</div>